<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROfMakcBsMwYeiX6M1-LSQARVxewnaOsXzJSLw62911Hb4vPUc&usqp=CAU" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1 class="title">Update Toy</h1>
        <div class="box-input">
            <form action="doUpdate" method="POST">
                Name:
                <input type="hidden" class="text" name="id" value="{{toys._id}}">
                <input class="text1" type="text" name="txtName" placeholder="" value="{{toys.name}}">
                <br><br>
                Material:
                <input style="text-transform: uppercase;" class="text2" type="text" name="txtMaterial" placeholder="" value="{{toys.material}}"> 
                <br><br>
                Price:
                <input class="text3" type="text" name="txtPrice" placeholder="" value="{{toys.price}}">
                <br><br>
                Producer:
                <textarea class="text4" name="txtProducer" cols="36" rows="10" placeholder="">{{toys.producer}}</textarea>
                <br><br>
                <input class="submit" type="submit" value="Update Toy">
            </form>
        </div>
    </div>
</body>
</html>